@page "/result/{entryID:int}"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject StateContainer StateContainer

<PageTitle>Result</PageTitle>

<table class="table table-hover">
  <thead>
    <tr>
      <th>CPU</th>
      <th>Result.xml</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var entry in entries)
    {
    <tr data-widget="expandable-table" aria-expanded="false">
      <td>@entry.Chip</td>
      <td>
        <button class="btn btn-primary" @onclick="()=>OnSeeResultClick(entry)">See Result</button>
      </td>
    </tr>
    }
  </tbody>
</table>


@code {
    [Parameter]
    public int entryID { get; set; }
    private List<EntryData> entries = new List<EntryData>();

    private void OnSeeResultClick(EntryData entryData)
    {
        Console.WriteLine("Button clicked");
        NavigationManager.NavigateTo($"CPUResult/{entryID}&{entryData.ID}");
    }

    protected override void OnParametersSet()
    {
      string connectionString = "Server=192.168.1.18;Database=db_pdv;Uid=pdvwebclient;Pwd=Welcome@123;";
      using(MySqlConnection connection = new MySqlConnection(connectionString))
      {
            connection.Open();
            Console.WriteLine("Connected to MySQL (from CPUResult)!");
            string query = $"SELECT * FROM db_pdv.result_table_{entryID}";
            using(MySqlCommand command = new MySqlCommand(query, connection))
            {
                using(MySqlDataReader reader = command.ExecuteReader())
                {
                    while(reader.Read())
                    {
                        EntryData result = new EntryData();
                        result.ID = (int)(reader["id"]);
                        result.Chip = reader["chip"].ToString();
                        entries.Add(result);
                    }
                }
            }
        }
    }

    private class EntryData
    {
        public int? ID { get; set; }
        public string? Chip { get; set; }
    }
}
